# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.vs/slnx.sqlite
.vs/service.file115proxy/v16/.suo
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
